/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
} */

body {
    position: relative;
    background-color: #fff;
    overflow-x: hidden;
}

.center {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.center .wrapper {
    position: relative;
    padding: 25px;
    border: 1px solid #000;
    border-radius: 10px;
    text-align: center;
    transition: all 10s ease 0s;
}

.center .wrapper:hover {
    transform: scale(1.01) rotate(9999deg) translate(200%, 200%);
}

ul {
    list-style-type: circle;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container .wrapper {
    border: 1px solid #000;
    border-radius: 2px;
    min-height: 100vh;
    width: 100%;
}

.container .wrapper header {
    padding: 30px 40px;
    border-bottom: 1px solid #000;
    text-align: center;
    font-size: 2rem;
    background-color: #737373;
}

.container .wrapper .content {
    display: flex;
}

.container .wrapper .content aside {
    flex: 0 0 20%;
    padding: 10px;
    height: 850px;
    border-right: 1px solid #000;
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: #f3f3f3;
}

.container .wrapper .content aside img {
    width: 200px;
    height: 120px;
}

.container .wrapper .content article {
    flex: 0 0 80%;
    padding: 20px;
    background-color: #f3f3f3;
    display: flex;
    justify-content: left;
    align-items: center;
}