div {
  margin: 20px 20px;
  height: 150px;
  width: 220px;
  background-color: yellow;
  padding: 50px 50px;
  font-size: 1.5rem;
  border: 20px solid red;
  border-bottom: 20px solid lightpink;
  border-right: 20px solid lightpink;
}

b {
  margin: 0px 30px;
  background-color: lightblue;
  padding: 5px 0px;
  font-size: 1.25rem;
  border: 8px solid blue;
}

p {
  margin: 20px 20px;
  height: 150px;
  width: 125px;
  background-color: lightgreen;
  padding: 50px 50px;
  font-size: 1.5rem;
  border: 70px solid green;
  border-bottom: 70px solid grey;
  border-right: 70px solid grey;
}